.navbar-toggler {
  background: white; }

.navbar-collapse.collapsing {
  background: #f8f9fa; }

.nav-item {
  font-family: "Playfair Display", serif;
  margin-left: 20px; }

.nav-item:hover {
  color: #626262; }

@media screen and (max-width: 767px) {
  .navbar {
    background-color: #f8f9fa; }

  .nav-item {
    margin-left: 0; }

  .input::placeholder {
    font-size: 12px; } }
.navbar-brand {
  font-family: "Inconsolata", monospace; }

#header-image {
  margin-top: 80px; }

#weekend-post {
  margin-top: 50px; }

.newsletter {
  margin: 40px 0 40px 0;
  height: 140px;
  background: #f0f0f0;
  text-align: center; }

.newsletter h1 {
  padding-top: 20px; }

.newsletter h1:hover {
  color: #626262;
  cursor: auto; }

h5 {
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
  color: #b4ad9e; }

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 30px;
  color: #626262;
  cursor: pointer; }

h1:hover {
  color: black; }

p {
  font-family: "Playfair Display", serif;
  color: #626262;
  text-align: justify; }

a {
  text-decoration-line: none !important; }

input {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 25%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #bbb;
  background: transparent;
  font: 16px "Playfair Display", serif;
  height: 45px;
  margin: 0 auto; }

.inner-addon {
  position: relative; }

.inner-addon .fa {
  position: absolute;
  padding: 15px;
  cursor: pointer; }

.right-addon .fa {
  right: 0px; }

.right-addon input {
  padding-right: 0px; }

.load-button {
  font-family: "Playfair Display", serif;
  background: #fff;
  padding: 10px;
  border: 2px solid #626262;
  margin: 20px 0 40px 0; }

.load-button:hover {
  background: #f0f0f0;
  cursor: pointer; }

footer {
  position: absolute;
  height: 80px;
  width: 100%;
  background: #f0f0f0; }

span {
  font-family: "Playfair Display", serif;
  color: black; }

.endText {
  margin: 0 auto;
  margin-top: 30px; }

.news-content {
  margin-top: 50px; }

.news-content h1 {
  border: none; }

.share-post span {
  text-align: right;
  color: #b4ad9e;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  padding-right: 15px; }

.share-post {
  margin-top: 50px;
  text-align: right;
  color: #b4ad9e;
  font-family: "Ubuntu", sans-serif; }

.news-content ul {
  padding: 0; }

.news-content li {
  float: none;
  list-style: initial;
  border: none; }

.news-content ul > li {
  color: #b4ad9e; }

.bullet-point {
  color: black; }

.top-posts {
  padding-left: 20px; }

#alsolikeback {
  position: relative;
  margin-top: 50px;
  width: 100%;
  height: 500px;
  background: #f5f5f5; }

@media screen and (max-width: 767px) {
  #alsolikeback {
    height: 800px; } }
@media screen and (max-width: 575px) {
  #alsolikeback {
    height: 1000px; } }
#alsolikeback h5 {
  margin-top: 40px;
  color: #b4ad9e;
  font-size: 16px; }

#comments {
  margin-top: 80px; }

#comments h5 {
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 35px; }

textarea {
  width: 100%;
  border-radius: 5px; }

textarea::placeholder {
  font-family: "Ubuntu", sans-serif;
  padding: 30px; }

/*# sourceMappingURL=style.css.map */
